@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper 

@{
   
     <!-- var onatrixLogo = Model?.Value<IPublishedContent>("navbarLogoImg")?.Url() ?? ""; -->
}

<section class="navbar">
                       
    <div class="container">
        <a class="logo" href="/">
            <img src="images/Brand.svg" alt="">
        </a>
        <nav>
            <a href="/about-us-page" class="nav-link">About</a>
            <a href="/services" class="nav-link">Services</a>
            <a href="/projects" class="nav-link">Projects</a>
            <a href="/contact/" class="nav-link">Contact</a>
        </nav>
        <div class="search">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </div>
</section>

