@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper 
         <link rel="stylesheet" href="/css/Partialscss/Nextproject.css">
         
         <section class="nextproject">
                <div class="container">            
                    <img  src="images/Group 110.png" alt="">
                    <div class="know">
                        <h1>Let us know about <br> your next project</h1>
                        <div class="infor">
                            <p class="infor-p"><i class="fa-solid fa-location-dot"></i>Office location</p>
                            <p class="infor-data">Klarabergsviadukten 90, 111 52 Stockholm</p>
                        </div>
                        <div class="infor">
                            <p class="infor-p"><i class="fa-solid fa-phone-flip"></i>Phone number</p>
                            <p class="infor-data">+46 8 123 456 75</p>
                        </div>
                        <div class="infor">
                            <p class="infor-p"><i class="fa-regular fa-envelope"></i>E-mail address</p>
                            <p class="infor-data">sales@onatrix.com</p>
                        </div>
                    </div>
                </div>
               
            </section>