@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	var selection = Umbraco.Content(Guid.Parse("653f2a09-307e-48ba-bb43-cfade09988e9"))
    .ChildrenOfType("servicesItemTemplate")
    .Where(x => x.IsVisible()).Take(6);
}



<section class="services">
    <div class="container">
        <h5>@Model.Value("servicesSectionPartialH5")</h5>
        <h1>@Model.Value("servicesSectionPartialH1")</h1>
        <div class="servicesCard">
            <div class="items">
                <h3>Risk Management</h3>
                <img src="images/image-21-min 1.jpg" alt="">
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
            </div>
            <div class="items">
                <h3>Bonds & Commodities</h3>
                <img src="images/image-18-min 1.jpg" alt="">
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
            </div>
            <div class="items">
                <h3>Assurance & Audits</h3>
                <img src="images/image-13-min 1.jpg" alt="">
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
            </div>
            <div class="items">
                <h3>Tax and Trusts</h3>
                <img src="images/image-22-min 1.jpg" alt="">
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
            </div>
            <div class="items">
                <h3>Financial Advisor</h3>
                <img src="images/image-23-min 1.jpg" alt="">
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
            </div>
            <div class="items">
                <h3>Statistic Advisors</h3>
                <img src="images/image-24-min 1.jpg" alt="">
                <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
            </div>
            
        </div>
    </div>
 </section>

<!-- <ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url()">@item.Name()</a>
		</li>
	}
</ul> -->

