@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;
    var bgImnage = Model?.Value<IPublishedContent>("heroBgImage")?.Url() ?? ""; 
    var sigImage = Model?.Value<IPublishedContent>("aboutSigImage")?.Url() ?? "";
}
 <link rel="stylesheet" href="/css/contact.css">

 <div class="container contact">
     <!-- <h1>@ViewBag.Title</h1> -->
     <h4>Request a call back</h4>
     <h1>Let us know about your next project</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus</p>

     <div class="form-container-contact">
        <div class="form-contact">
             <div class="form-input-group">
                <input id="name" name="name" type="text" placeholder="Name" class="form-input" />
                <span class="form-input-error">You must enter your name</span>
            </div>
            <div class="form-input-group">
                <input id="phone" name="phone" type="phone" placeholder="Phone Number" class="form-input" />
                <span class="form-input-error">You must enter your name</span>
            </div>
        </div>
        <div class="form-contact">
              <div class="form-input-group">
                 <input id="email" name="email" type="email" placeholder="Email Address" class="form-input" />
                 <span class="form-input-error">You must enter your name</span>
              </div>       
         
              <select>
                <option value="" disabled selected>Select a service</option>
                <option value="service1">Service 1</option>
                <option value="service2">Service 2</option>
                <option value="service3">Service 3</option>
                <option value="service4">Service 4</option>
              </select>
          
        </div>
       
        <button type="submit" class="form-button btn-primary">Send</button>

    </div>


 </div>

@await Html.PartialAsync("static/NextProject")